@import "~bootstrap/scss/bootstrap.scss";

.App {
  font-family: sans-serif;
  text-align: center;
}
.bodyProject{
    height: 45rem;
    width: 45rem;
    background: wheat;
    margin-top: 3rem;
}
h1{
    padding-top: 1rem;
}

